In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

ANS- import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)


OUTPUT :0     4
1     8
2    15
3    16
4    23
5    42

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

ANS-import pandas as pd

my_list = [11, 22, 33, 44, 55, 66, 77, 88, 99, 100]
series = pd.Series(my_list)
print(series)


OUTPUT: 0     11
1     22
2     33
3     44
4     55
5     66
6     77
7     88
8     99
9    100

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

ANS-import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'Gender': ['Female', 'Male', 'Male']
}

df = pd.DataFrame(data)
print(df)


OUTPUT:  
    Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   22    Male

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

ANS-
In Pandas, a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure 
with labeled axes (rows and columns). It is essentially a collection of Series where each column of a DataFrame
can be thought of as a Series. DataFrames can store data of different types and are very similar to a spreadsheet
or SQL table.

On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding data of any type. It can 
be seen as a single column of a DataFrame. Each element in a Series is associated with a unique label called an index.
DATAFRAME EXAMPLE :
    import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 28],
    'Gender': ['Female', 'Male', 'Male']
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)


SERIES EXAMPLE :
    import pandas as pd

# Creating a Series
ages = pd.Series([25, 30, 28], name='Age')
print("Series:")
print(ages)

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

ANS-1.  head() and tail(): These methods allow you to view the first or last few rows of your DataFrame, respectively.
They're handy for a quick look at the data.

EXAMPLE: import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 28, 32, 29],
    'Gender': ['Female', 'Male', 'Male', 'Male', 'Female']
}

df = pd.DataFrame(data)

print("First few rows:")
print(df.head())  # Display first 5 rows

2.describe(): Provides descriptive statistics about the numerical columns in the DataFrame like count, mean, min, max, etc.

EXAMPLE:
    print("Descriptive statistics:")
print(df.describe())

3. drop(): Removes rows or columns from the DataFrame based on specified labels.

Example (dropping a column):
df_without_age = df.drop('Age', axis=1)  # axis=1 for columns, axis=0 for rows
print("DataFrame without 'Age' column:")
print(df_without_age)

4. groupby(): Groups data based on specified columns, allowing the application of aggregate functions on these groups.

Example (grouping by 'Gender' and finding average age):
    grouped_by_gender = df.groupby('Gender')['Age'].mean()
print("Average age by gender:")
print(grouped_by_gender)

5. apply() and applymap(): apply() allows applying a function along an axis of the DataFrame, while applymap() applies a function element-wise to a DataFrame.

Example (apply() to calculate the length of names):
    df['Name_Length'] = df['Name'].apply(len)
print("DataFrame with name lengths:")
print(df)

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

ANS-Among the three data structures—Series, DataFrame, and Panel—in Pandas, the Series and DataFrame are mutable,
while the Panel is considered immutable.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

ANS-